<!DOCTYPE html>
<html lang="en">
  <%- include ('./include/head') %>
<body class=back>
  <%- include ('./include/header') %>
  <div class="container">  
   <%- include ('./include/background') %>
    <div class="edges">
    </div>
    <div class="mid">
        <h1>Contact Us</h1>
        <br></br>
        <p>If you would have any questions or would like to submit feedback, feel free to contact us through this form!</p>
        <div class = "contact-title">
        </div>
        <div class="contact-form">
           <form method="POST" action="/send">
            <p>
              <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </p>
            <p>
              <input type="email" name="email" class="form-control" placeholder="Your Email" required>
            </p>
            <p>
              <textarea name="subject" rows="2" class="form-control" placeholder="Subject" required></textarea>
            </p>
            <p>
              <textarea name="message" rows="5" class="form-control" placeholder="Message" required></textarea>
            </p>
            <p>
              <button type="submit" class="form-control submit">Submit</button>
            </p>
          </form>
        </div>
    </div>
    <div class="edges">
    </div>
</div>  
   <%- include ('./include/scripts') %>
   <%- include ('./include/footer') %>
</body>
</html>