<!DOCTYPE html>
<html lang="en">
  <%- include ('./include/head') %>
<body class=back>
  <%- include ('./include/header') %>
  <div class="container">  
   <%- include ('./include/background') %>
    <div class="edges">
    </div>
    <div class="mid">
        <h1>Contact Us</h1>
        <br>
        <div class="contact-form">
            <h2>Venue Infromation</h2>
            <p>Feel free to contact us through any information listen below and</p>
            <p>follow our social media for the latest updates about the Undercroft</p>
            <br>
            <p1>Social Media</p1>
            <p><a href="https://www.instagram.com/undercroftmd/?hl=en" target="_blank">
               <img border="0" alt="instagram" src="ig.png" height="15" width="15">
               @undercroftmd</a></p>
            <p><a href="https://www.facebook.com/undercroftmd/" target="_blank">
               <img border="0" alt="facebook" src="fb.png" height="15" width="15">
               @undercroftmd</a></p>
               <br>
               <p1>Address</p1>
               <p>2629 Huntingdon Ave, Baltimore, MD 21211</p>
               <br>
         </div>
        <br></br>
        <div class="contact-form">
         <h2>Feedback</h2>
         <p>If you have any questions or would like to submit feedback,</p>
         <p>feel free to contact us through this form</p>
         <br>
         <p>You are welcome to submit feedback to us anonymously. We always want to hear from you!</p>
          <p>If you are reporting harm, we would appreciate the opportunity to follow up with you (or a friend you trust!) so that we can take action with the appropriate information and with your consent. Don't feel obligated to include your real name or personal email address, but a throwaway Gmail account or a friend's number (in the body of the message) can help us stay in touch with you without compromising your safety. Thanks for contacting us :)</p>
           <form method="POST" action="/emailsend">
            <p>
              <input type="text" name="name" class="form-control" placeholder="Your Name (optional)">
            </p>
            <p>
              <input type="email" name="email" class="form-control" placeholder="Your Email (optional)">
            </p>
            <p>
              <textarea name="subject" rows="2" class="form-control" placeholder="Subject" required></textarea>
            </p>
            <p>
              <textarea name="message" rows="4" class="form-control" placeholder="Message" required></textarea>
            </p>
            <p>
              <button type="submit" class="form-control submit">Submit</button>
            </p>
          </form>
        </div>
        <br></br>
        <div class="contact-form">
          <h2>Sobriety</h2>
          <p>Please consider reading more about the Undercroft through our Sobriety Policy by clicking on the button below</p>
          <br>
          <button class ="linker submit" onclick="window.location.href = 'https://docs.google.com/document/d/1NgEDSUtJjpRVZ4fhl1iCBII6mXKS4uFAvSFYDzHUeTE/edit?usp=sharing';"> Sobriety Policy</button>
          <br></br>
        </div>
        <br></br>
        <div class="contact-form">
          <h2>Survey</h2>
          <p>If you attended a concert, fill out our survey! It helps us to improve our venue and our shows.</p>
          <br>
          <button class ="linker" onclick="window.location.href = 'https://docs.google.com/forms/d/e/1FAIpQLSdtYOq7b2IEwJ4OUq2NIHf-sCVT4aEfUr_tq_PVorVFG63Krg/viewform?usp=sf_link';"> Survey</button>
          <br></br>
        </div>
      </div>
    <div class="edges">
    </div>
</div>  
   <%- include ('./include/scripts') %>
   <%- include ('./include/footer') %>
</body>
</html>