<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <h1>Community</h1>
            <p>Welcome to the community page</p>
            <p>Here we showcase different community members and their contribution to the Undercroft cause</p>


             <div class = contact-form> 
                <table class = center>
                    <%var database = JSON.parse(mydatabase)%>
                  <% for(var i=0; i<database.length; i++) {%>
                  <tr>
                    <td><%= database[i].groupName %></td>
                    <td><%= database[i].description %></td>
                    <td><img src = "https://drive.google.com/thumbnail?id=<%= database[i].GDimageID %>"  width="50" height="50"/></td>
                  </tr>
                  <% } %>
                </table>
              </div> 

            <script>
                 var database = JSON.parse('<%- database %>');
            </script>

        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>