<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <h1>Community</h1>
            <p>Welcome to the community page</p>
            <p>Here we showcase different community members and their contribution to the Undercroft cause</p>
            <br> </br>


             <div class = contact-form99> 
                    <%var database = JSON.parse(mydatabase)%>
                  <% for(var i=0; i<database.length; i++) {%>
                  <div>
                    <div> <p style="font-size: larger; font-weight: bold;"><%= database[i].groupName %></p></div>
                    <div> <p style="font-size: larger;"></p> <%= database[i].description %></p></div>
                    <div><img src = "https://drive.google.com/thumbnail?id=<%= database[i].GDimageID %>" /></div><br></br>
                  </div>
                  <% } %>
              </div> 

            <script>
                 var database = JSON.parse('<%- database %>');
            </script>

        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>