<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container"> 
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <h1>Events</h1>
            <br>
            <h2>Calendar</h2>
            <br>
    <div  id="caleandar"></div>
    <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
            <h2>Upcoming Events</h2>
            <br>
    <div id="upcomingEvents"></div>
    
    <script type="text/javascript" src="caleandar.js"></script>
    <script type="text/javascript" src="upcomingEvents.js"></script>
    <script>
    var test = JSON.parse('<%- userdata %>');
    var test2 = JSON.parse('<%- moreuserdata %>');

    var userevents = [];
        test.forEach(function (arrayItem) {
            var x = arrayItem;
            x.Date = new Date (x.Date);
            userevents.push(x);
        });

        var userevents2 = [];
        test2.forEach(function (arrayItem) {
            var x = arrayItem;
            x.Date = new Date (x.Date);
            userevents2.push(x);
        });

        var events = userevents;
        var settings = {};
        var element = document.getElementById('caleandar');
        caleandar(element, events, settings);

        listEvents(userevents2);
    </script>

        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>