<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            

            <br>
            <H1 id="title">Title</H1>
            <br>
            <div class="contact-form">
            <h2>Event Details</h2>
            <p id="date">Date</p>
            <p id="startTimeToendTime">duration</p>
            <pre id="description">Description</pre>
            <br>

            <img id="image"src="">
        </div>

            
            
            <script>
                var json = '<%- targetEvent %>';
                var test = JSON.parse(json);

                function prettyDate(time){
                    var date = new Date((time));
                    var options = {hour: "numeric", minute: "numeric"};
                    return new Intl.DateTimeFormat("en-US", options).format(date);
                }
                var start = prettyDate(test.StartTime);
                var end = prettyDate(test.EndTime);

                var parts =test.Date.split('-');
                var Date = new Date (parts[0], parts[1] - 1, parts[2].slice(0,2)).toDateString()
                document.getElementById("title").innerHTML = test.Title;
                document.getElementById("description").innerHTML = test.Description;
                document.getElementById("date").innerHTML = Date;
                document.getElementById("startTimeToendTime").innerHTML = start + " - " + end;
                document.getElementById("image").src = "https://drive.google.com/thumbnail?id=" + test.Image;
            </script>
            <br>
            <div class="contact-form">
                <br>
                <h2>Sobriety</h2>
                <p>To learn more about our sobriety policy, please consider reading more about the Undercroft through our Sobriety Policy by clicking on the button below</p>
                <br>
                <button class ="linker" onclick="window.location.href = 'https://docs.google.com/document/d/1NgEDSUtJjpRVZ4fhl1iCBII6mXKS4uFAvSFYDzHUeTE/edit?usp=sharing';"> Sobriety Policy</button>
                <br></br>
              </div>
            <br>
            <div class="return"><a href="events"><h2>Return to Events</h2></a></div>

        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>