<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <a href="events"class="button"><h1>Return to Events</h1></a>


            <H1 id="title">Title</H1>
            <h1 id="date">Date</h1>
            <h1 id="description">Description</h1>
            <p id="startTimeToendTime">duration</p>



            <script>

                var test = JSON.parse('<%- targetEvent %>');

                function prettyDate(time){
                    var date = new Date((time));
                    var options = {hour: "numeric", minute: "numeric"};
                    return new Intl.DateTimeFormat("en-US", options).format(date);
                }
                var start = prettyDate(test.StartTime);
                var end = prettyDate(test.EndTime);

                var parts =test.Date.split('-');
                var Date = new Date (parts[0], parts[1] - 1, parts[2].slice(0,2)).toDateString()
                document.getElementById("title").innerHTML = test.Title;
                document.getElementById("description").innerHTML = test.Description;
                document.getElementById("date").innerHTML = Date;
                document.getElementById("startTimeToendTime").innerHTML = start + " - " + end;
            </script>


        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>