<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container"> 
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <h1>Events</h1>
    <div  id="caleandar"></div>
    <script type="text/javascript" src="caleandar.js"></script>
    <script>

    var test = JSON.parse('<%- userdata %>');
    var userevents = [];
        test.forEach(function (arrayItem) {
            var x = arrayItem;
            x.Date = new Date (x.Date);
            userevents.push(x);
        });
        var events = userevents;
        console.log(events);
        var settings = {};
        var element = document.getElementById('caleandar');
        caleandar(element, events, settings);
    </script>

        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>