<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <a href="events"class="button"><h1>Return to Events</h1></a>


            <H1 id="title">Title</H1>
            <h1 id="date">Date</h1>
            <h1 id="description">Description</h1>
            <p id="startTimeToendTime">duration</p>



            <script>
                var test = JSON.parse('<%- targetEvent %>');
                document.getElementById("title").innerHTML = test.Title;
                document.getElementById("description").innerHTML = test.Description;
                document.getElementById("date").innerHTML = test.Date;
                document.getElementById("startTimeToendTime").innerHTML = test.StartTime + " - " + test.EndTime;
            </script>


        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>