<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container"> 
        <%- include ('./include/background') %>
        <div class="edges">

            
        </div>
        <div class="mid">
            <h1 >Get Involved</h1>
          
             <div class="sections2">
                <div class="donate">
           
              <a href="https://charity.gofundme.com/o/en/campaign/the-undercroft">
                <img src="red wagon 3.jpg" width="100%" height="800" alt="image">
  
            </a>
              </div>
       <div class="donatebox">
        <a href="https://charity.gofundme.com/o/en/campaign/the-undercroft">
    <h1 style="font-size:50px">Donate</h1>
    <p style="font-size:20px"> Click Here to Donate to The Undercroft </p>
</a>        
</div>
        <div class="contact-form2">
            <h2>Contact Us</h2>
            <p>Feel free to contact us through any infromation listen below and</p>
            <p>follow our social media for the latest updates about the Undercroft</p>
            <br></br>
            <p>Social Media</p>
            <p><a href="https://www.instagram.com/undercroftmd/?hl=en" target="_blank">
               <img border="0" alt="instagram" src="ig.png" height="15" width="15">
               @undercroftmd</a></p>
            <p><a href="https://www.facebook.com/undercroftmd/" target="_blank">
               <img border="0" alt="facebook" src="fb.png" height="15" width="15">
               @undercroftmd</a></p>
               <br></br>
               <p>Address</p>
               <p>2629 Huntingdon Ave, Baltimore, MD 21211</p>
               <br></br>
               <p>Hours of Operation</p>
               <p>Monday-Thursday 7-10</p>
               <p>Friday-Saturday 5-12</p>
         </div>
        <br></br>
    </div>
</div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>