<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    
    <%- include ('./include/header') %>
    <div class="container"> 
    
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>

         <%- include ('./include/background') %>
        <div class="edges">
           

        </div>
        <div class="mid">
        <br></br>
         <div class="sections2">
          <div class="Slides">
              <div class="slideshow-inner">
                <div class="mySlides fade">
              
                  <img  src='performance_shot_main2.jpg' style='width: 80%; ' alt="sally lightfoot crab"/>
                 
                </div>
              
                <div class="mySlides fade">
              
                  <img  src='Undercroft001.jpg' style='width: 80%;' alt="fighting nazca boobies"/>
                
                </div>
              
                <div class="mySlides fade">
              
                  <img  src='Undercroft002.jpg' style='width: 80%; ' alt="otovalo waterfall"/>
                
                </div>
              
                <div class="mySlides fade">
              
                  <img  src='Undercroft003.jpg' style='width: 80%; ' alt="otovalo waterfall"/>
                
                </div>

                <div class="mySlides fade">
              
                  <img  src='Undercroft005.jpg' style='width: 80%; ' alt="pelican"/>
                 
                </div>
                
                </div>
              
              
                <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
                <a class="next" onclick='plusSlides(1)'>&#10095;</a>
              
              <br/>
              
              
              <div style='text-align: center;'>
                <span class="dot" onclick='currentSlide(1)'></span>
                <span class="dot" onclick='currentSlide(2)'></span>
                <span class="dot" onclick='currentSlide(3)'></span>
                <span class="dot" onclick='currentSlide(4)'></span>
                <span class="dot" onclick='currentSlide(5)'></span>
              </div>
          
            </div>
   <script>
var slideIndex = 1;

var myTimer;

var slideshowContainer;

window.addEventListener("load",function() {
    showSlides(slideIndex);
    myTimer = setInterval(function(){plusSlides(1)}, 3000);
  
    //COMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
    slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];
  
    //UNCOMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
    // slideshowContainer = document.getElementsByClassName('slideshow-container')[0];
  
    slideshowContainer.addEventListener('mouseenter', pause)
    slideshowContainer.addEventListener('mouseleave', resume)
})

// NEXT AND PREVIOUS CONTROL
function plusSlides(n){
  clearInterval(myTimer);
  if (n < 0){
    showSlides(slideIndex -= 1);
  } else {
   showSlides(slideIndex += 1); 
  }
  
  //COMMENT OUT THE LINES BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
  
  if (n === -1){
    myTimer = setInterval(function(){plusSlides(n + 2)}, 4000);
  } else {
    myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
  }
}

//Controls the current slide and resets interval if needed
function currentSlide(n){
  clearInterval(myTimer);
  myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
  showSlides(slideIndex = n);
}

function showSlides(n){
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

pause = () => {
  clearInterval(myTimer);
}

resume = () =>{
  clearInterval(myTimer);
  myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
}

   </script>

            <div class="Mission">
            <h1>Mission Statement</h1>
            <p style="font-size:25px"> The Undercroft is a community arts center focused on providing a safe, all ages and accessible space for artists, Remington residents & working families. </p>

           
        </div>
            <div class="Location">
                <h1>Location</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12346.444605598414!2d-76.6217087!3d39.3197369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2574b8de89787f71!2sThe%20Undercroft!5e0!3m2!1sen!2sus!4v1588630335924!5m2!1sen!2sus" width="80%" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>
            <div class="Events">
               <h1>Events</h1>
                <div class="fb-page" 
                data-href="https://www.facebook.com/undercroftmd/" 
                data-tabs="events" 
                data-width="700" 
                data-height="600" 
                data-small-header="false" 
                data-adapt-container-width="false" 
                data-hide-cover="false" 
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/undercroftmd/" 
                class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/undercroftmd/">
                    The Undercroft</a></blockquote></div>


            </div>
            
         </div>
        </div>
        <div class="edges">
        </div>

    </div>    
  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
  
</body>
</html>