<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>

         <%- include ('./include/background') %>
        <div class="edges">
           

        </div>
        <div class="mid">
           
         <div class="sections">
            <div class="Slides">
               
            <img src="performance_shot_main2.jpg" width="100%" height="450" alt="image">
        </div>
            <div class="Mission">
            <h1>Mission Statement</h1>
            <p style="font-size:25px"> The Undercroft is a community arts center focused on providing a safe, all ages and accessible space for artists, Remington residents & working families. </p>

           
        </div>
            <div class="Location">
                <h1>Location</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12346.444605598414!2d-76.6217087!3d39.3197369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2574b8de89787f71!2sThe%20Undercroft!5e0!3m2!1sen!2sus!4v1588630335924!5m2!1sen!2sus" width="80%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>
            <div class="Events">
               <h1>Events</h1>
                <div class="fb-page" 
                data-href="https://www.facebook.com/undercroftmd/" 
                data-tabs="events" 
                data-width="700" 
                data-height="600" 
                data-small-header="false" 
                data-adapt-container-width="false" 
                data-hide-cover="false" 
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/undercroftmd/" 
                class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/undercroftmd/">
                    The Undercroft</a></blockquote></div>


            </div>
            
         </div>
        </div>
        <div class="edges">
        </div>

    </div>    
  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>