<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
           
            <br></br>
            <br></br>
            <div class="Margins">
                <div class="theslides">
                    <div class="slideshow-inner">
                        <div class="mySlides fade">
                      
                          <img  src='RedWagon001.jpg' style='width: 75%; ' alt="sally lightfoot crab"/>
                         
                        </div>
                      
                        <div class="mySlides fade">
                      
                          <img  src='RedWagon002.jpg' style='width: 75%;' alt="fighting nazca boobies"/>
                        
                        </div>
                      
                        <div class="mySlides fade">
                      
                          <img  src='RedWagon003.jpg' style='width: 75%; ' alt="otovalo waterfall"/>
                        
                        </div>
                      
                        <div class="mySlides fade">
                      
                          <img  src='RedWagon004.jpg' style='width: 75%; ' alt="otovalo waterfall"/>
                        
                        </div>
        
                        
                        
                        </div>
                      
                      
                        <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
                        <a class="next" onclick='plusSlides(1)'>&#10095;</a>
                      
                      <br/>
                      
                      
                      <div style='text-align: center;'>
                        <span class="dot" onclick='currentSlide(1)'></span>
                        <span class="dot" onclick='currentSlide(2)'></span>
                        <span class="dot" onclick='currentSlide(3)'></span>
                        <span class="dot" onclick='currentSlide(4)'></span>
                      
                      </div>
                  
                    </div>
           <script>
        var slideIndex = 1;
        
        var myTimer;
        
        var slideshowContainer;
        
        window.addEventListener("load",function() {
            showSlides(slideIndex);
            myTimer = setInterval(function(){plusSlides(1)}, 400);
          
            //COMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
            slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];
          
            //UNCOMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
            // slideshowContainer = document.getElementsByClassName('slideshow-container')[0];
          
            slideshowContainer.addEventListener('mouseenter', pause)
            slideshowContainer.addEventListener('mouseleave', resume)
        })
        
        // NEXT AND PREVIOUS CONTROL
        function plusSlides(n){
          clearInterval(myTimer);
          if (n < 0){
            showSlides(slideIndex -= 1);
          } else {
           showSlides(slideIndex += 1); 
          }
          
          //COMMENT OUT THE LINES BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
          
          if (n === -1){
            myTimer = setInterval(function(){plusSlides(n + 2)}, 4000);
          } else {
            myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
          }
        }
        
        //Controls the current slide and resets interval if needed
        function currentSlide(n){
          clearInterval(myTimer);
          myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
          showSlides(slideIndex = n);
        }
        
        function showSlides(n){
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
        
        pause = () => {
          clearInterval(myTimer);
        }
        
        resume = () =>{
          clearInterval(myTimer);
          myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
        }
        
           </script>
        
               
                <div class="redWagonMission">
                    <br></br>
                    <p1 style=font-size:20px>Red Wagon is a collectively-run play space where parents, caregivers, and children can connect and play. We offer programming on Wednesday mornings and additional pop-up evening hours!</p1>
                </div>
                <div class="Donate">
                    <h1>Become a Patron of Red Wagon</h1>
                    <a href="https://www.patreon.com/redwagonbaltimore"><img src="RedWagonLogo.jpg" class="center" alt="image"></a>
                    <p1>Click this image to become a patron of Red Wagon.</p1>
                    <br></br>
                </div>
                <br></br>
                <br></br>
                <br></br>
                <div class="contact">
                    <h1>Contact Red Wagon</h1>
                    <p1 style="font-size:20px">Feel free to contact Red Wagon through any information listed below and follow Red Wagon's social media for any latest updates.</p1>
                    <br></br>
                    <p2 style="font-size:20px">Social Media:</p2>
                    <br>
                    <p3><a href="https://www.instagram.com/redwagonbaltimore/" target="_blank"><img border="0" alt="instagram" src="ig.png" height="15" width="15">@redwagonbaltimore</a></p3>
                    <br>
                    <p4><a href="https://www.facebook.com/RedWagonBaltimore/" target="_blank"><img border="0" alt="facebook" src="fb.png" height="15" width="15">@redwagonbaltimore</a></p4>
                </div>
            </div>
        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>