<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <h1>Red Wagon</h1>
            <p1>Red Wagon is a collectively-run play space where parents, caregivers, and children can connect and play. We offer programming on Wednesday mornings and additional pop-up evening hours!</p1>
            <img src="RedWagonLogo.jpg" width="50%" height="350" alt="image">
            <div class="redWagonMission">
                <h1>Mission Statement</h1>
                <p1>Lorem...</p1>
            </div>
            <div class="Donate">
                <h1>Donate to the Red Wagon</h1>
                <p1>Click the button below to donate to the Red Wagon.</p1>
                <button type="button">Click Me!</button>
            </div>
        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>