<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <%- include ('./include/background') %>
        <div class="edges">
        </div>
        <div class="mid">
            <h1 style="text-align: center">Red Wagon</h1>
            <br></br>
            <br></br>
            <div class="Margins">
                <div class="theslides">
                    <img class="theRedWagonSlides" src="RedWagon001.jpg" width=85% height="100%">
                    <img class="theRedWagonSlides" src="RedWagon002.jpg" width=85% height="100%">
                    <img class="theRedWagonSlides" src="RedWagon003.jpg" width=85% height="100%">
                    <img class="theRedWagonSlides" src="RedWagon004.jpg" width=85% height="100%">
                    <script>
                        var myIndex = 0;
                        carousel();
                        
                        function carousel() {
                          var i;
                          var x = document.getElementsByClassName("theRedWagonSlides");
                          for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";  
                          }
                          myIndex++;
                          if (myIndex > x.length) {myIndex = 1}    
                          x[myIndex-1].style.display = "block";  
                          setTimeout(carousel, 5000);
                        }
                    </script>
                </div>
                <div class="redWagonMission">
                    <p1 style=font-size:20px>Red Wagon is a collectively-run play space where parents, caregivers, and children can connect and play. We offer programming on Wednesday mornings and additional pop-up evening hours!</p1>
                </div>
                <div class="Donate">
                    <h1>Become a Patron of the Red Wagon</h1>
                    <a href="https://www.patreon.com/redwagonbaltimore"><img src="RedWagonLogo.jpg" class="center" alt="image"></a>
                    <p1>Click this image to become a patron of Red Wagon.</p1>
                </div>
                <br></br>
                <br></br>
                <br></br>
                <div class="contact">
                    <h1>Contact the Red Wagon</h1>
                    <p1 style=font-size:20px>Feel free to contact the Red Wagon through any information listed below and follow the Red Wagon's social media for any latest updates.</p1>
                    <p2 style=font-size:20px>Social Media</p2>
                    <p3><a href="https://www.instagram.com/redwagonbaltimore/" target="_blank"><img border="0" alt="instagram" src="ig.png" height="15" width="15">@redwagonbaltimore</a></p3>
                    <p4><a href="https://www.facebook.com/RedWagonBaltimore/" target="_blank"><img border="0" alt="facebook" src="fb.png" height="15" width="15"</a>@redwagonbaltimore</p4>
                </div>
            </div>
        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>